{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'accounts/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/util.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/main.css' %} ">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">

    <div class="container-login100" style="background-image: url('{% static 'accounts/images/bg-01.jpg' %}');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">



					<form class="login100-form validate-form" action="{% url 'accounts:login' %}" method="POST">
						 {% csrf_token %}
                    <div id="upperSection" class="login100-form-title p-b-49">
                        <div class="logo">

                        </div>
                       <p id="login-AppOwnerName" style="white-space: nowrap; font-size: 16px; font-weight: 600;" class="p-b-5">سلامت نگر آینده ساز</p>
                        <p style="white-space: nowrap; font-size: 14px; font-weight: 60;" class="p-b-10">آینده را انتخاب کن ، سلامت نگر باش</p>
                      <span class=" p-b-10">
                            سامانه اعلام و پیگیری هزینه های درمان
                        </span>
                    </div>

 <div class="tabs" id="nationalityTabs" style="margin-bottom:20px">
                        <div class="tabs-mask"></div>
                        <ul class="tab-list">
                            <li style="width: 50%;"> <a href="#isIranianPersonLogin" onclick="configureIsIranianOrNot(true)" id="isIranianPersonLoginLink" class="tab-link active">ورود ایرانیان<br>با کد ملی</a> </li>
                            <li style="width: 50%;"> <a href="#isForeignPersonLogin" onclick="configureIsIranianOrNot(false)" id="isForeignPersonLink" class="tab-link">ورود اتباع خارجی<br>با کد فیدا</a> </li>
                        </ul>
                        <div class="tab-content active" id="isIranianPersonLogin"></div>
                        <div class="tab-content" id="isForeignPersonLogin"></div>
                    </div>

						<div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">نام کاربری</span>
                        <input class="input100 ltr" type="text" id="txtUserName" name="username" placeholder="کد ملی بیمه شده اصلی را وارد نمایید">
                    </div>

						<div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">کلمه عبور</span>
                        <input class="input100 ltr" type="password" id="txtPassword"  name="password" placeholder="رمز عبور خود را وارد نمایید">
                    </div>



					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>

						</div>
						    <span id="stgContactText"><div id="dvLoginContactText">تماس با ما (پشتیبانی): 02178762000</div></span>
					</div>




					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'accounts/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'accounts/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'accounts/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'accounts/js/main.js' %}"></script>

</body>
</html>